<form action="/links" method="post">
  <h3>Title</h3>
  <input type="text" name="title">
  <h3>url</h3>
  <input type="url" name="url">
  <h3>tags</h3>
    <input type="text" name="tags">
  <input type="submit" value="Submit">
</form>
